.search-user-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.search-user-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-user-container button {
  padding: 10px;
  background-color: #8a4baf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-result {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.user-result:hover {
  background-color: #f0f0f0;
}

.error {
  color: red;
}