header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  background-color: #fff;
  position: relative;
  transition: background-color 0.3s ease;

  .logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    margin-right:20px;

    &:hover {
      color: #6a2e8c;
    }

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  .link {
    display: flex;
    gap: 2.5rem;
    align-items: center;

    @media (max-width: 768px) {
      gap: 1rem;
    }

    a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      font-weight: 500;
      position: relative;
      transition: color 0.3s ease, transform 0.3s ease;
      cursor: pointer;
      
      &:hover {
        color: #6a2e8c;
        transform: translateY(-2px);
      }

      &:before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #6a2e8c;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}
.noti{
  display: flex;
  align-items: center;
  color:purple;
  cursor: pointer;
  top: 20px; /* Khoảng cách từ trên xuống */
  right: 20px; /* Khoảng cách từ phải vào */
  padding: 10px 15px; /* Kích thước của nút */
  font-size: 29px;
  margin:0;
  position: absolute; /* Đặt phần tử cuộn theo trang */


}
.search-bar {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;  /* Canh giữa thanh tìm kiếm */
  width:600px;
}

.search-bar input {
  width:300px;

  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  width:120px;

  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #dac2d2;
}
.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  width: 100%;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}
