.profile {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.profile h2 {
  font-size: 30px;
  color: #4caf50;
  text-align: center;
  margin-bottom: 20px;
}

.profile form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
  align-items: center;
}

.form-row label {
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: flex-start;
  padding-right: 15px;
}

.form-row input {
  width: 75%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
}

.form-row input:focus {
  border-color: #4caf50;
  outline: none;
}

.form-submit button {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-self: center;
}

.form-submit button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .profile {
    padding: 20px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .form-row input {
    font-size: 14px;
  }

  .form-submit button {
    font-size: 14px;
  }
}

button.common-btn {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #4a90e2;
      color: white;
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #357abd;
      }
    }

    button.logout-btn {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #e24a4a;
      color: white;
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #bd3535;
      }
    }